{% set firstTicket = tickets | first %}
{% set assignee = firstTicket.assignee %}

{% if assignee.key %}
    {% set salutation = "Hey, " ~ assignee.displayName ~ "(" ~ assignee.name ~ ")" %}
{% else %}
    {% set salutation = 'Hey Team' %}
{% endif %}

<header> {{ salutation }}, please have a look</header>
<hr>

{% for ticket in tickets %}
    {% set status = ticket.status %}
    {% set daysDiff = status.changeDate.diff(now).days %}
    {% set url = "https://" ~ companyName ~ ".atlassian.net/browse/" ~ ticket.key %}
    {% set dayWord = (daysDiff > 1) ? 'days' : 'day' %}

    <div class="ticket">
        <b>Jira Ticket</b>: <a href='{{ url }}'>{{ ticket.key }}</a> - <i>{{ ticket.title }}</i> <br>
        <b>Current status</b>: <i>{{ status.name }} </i> since {{ daysDiff }} {{ dayWord }}<br>
        <b>Story Points</b>: {{ ticket.storyPoints }}<br>
    </div>
    <hr>
{% endfor %}
